.header {
  background-color: #f2bdbd;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  }

  .header .logo {
  width: 46%;
  padding: 2em 3em;
  }

  .header .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2em;
  }

  .header .image {
  width: 30%;
  }

  .header p {
  font-size: 1.2rem;
  color: #686868;
  }

  @media (max-width: 576px) {
  .header .logo {
  padding: 2em;
  }
  .header p {
  font-size: 1rem;
  }
  .header .logo,
  .header .image {
  width: 100%;
  text-align: center;
  }
  .header .image {
  width: 35%;
  }
  }
