.header {
  background-color: #f2bdbd;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header .logo {
  width: 46%;
  padding: 2rem 3rem;
}

.header .logo img {
  width: 90%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.header .image {
  width: 30%;
}

.header p {
  font-size: medium;
  color: #686868;
}

.header p .image {
  width: 10%;
}

@media (max-width: 576px) {
  .header .logo {
    padding: 2rem;
  }
  .header p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header .logo {
    width: 90%;
  }
  .header .image {
    display: none;
    width: 10%;
  }

  @media screen and (max-width: 768px) {
    .header-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .header-p {
      width: 100%;
    }
  }
}
