<section class="container create-notes ff-inter">
  <header class="header">
    <h2>
      Add a new note:
    </h2>
  </header>
  <form>
    <label for="note">Note:</label>
    <input
      type="textarea"
      class="input"
      id="note"
      name="note"
      placeholder="Enter a note"
      [(ngModel)]="note.content"
    />
  </form>
  <form>
    <label for="authorship">Authorship or source:</label>
    <input
      type="text"
      class="input"
      id="authorship"
      name="authorship"
      placeholder="Enter authorship or source"
      [(ngModel)]="note.authorship"
    />
  </form>
  <form>
    <div class="container-radio">
        <div class="radio-model">
          <label>Prévia:</label>
          <div class="note">
            <div class="ff-roboto-mono">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p class="text">{{ note.content }}</p>
                    <p class="authorship">
                      <b>{{ note.authorship }}</b>
                    </p>
                  </div>
                </div>
              </div>
              </div>
          </div>
    </div>
  </div>
    <div class="actions">
        <button (click)="createNote()" class="button">Save</button>
        <button (click)="cancel()" routerLink=".listNotes" class="button">Cancel</button>
    </div>

  </form>
</section>
