<section class="container edit-notes ff-inter">
    <header class="header">
      <h2>Edit note:</h2>
    </header>
    <form>
      <label for="note">note</label>
      <input
        type="textarea"
        class="input"
        id="note"
        name="note"
        placeholder="Digite o note"
        [(ngModel)]="note.content"
      >
      <label for="authorship">Authorship ou source</label>
      <input
        type="text"
        class="input"
        id="authorship"
        name="authorship"
        placeholder="Digite a authorship ou fonte"
        [(ngModel)]="note.authorship"
      >

      <div class="container-radio">
        <div class="radio-model">
          <label>Prévia:</label>
          <div class="note">
            <div class="ff-roboto-mono">
              <div class="paper">
                <div class="pattern">
                  <div class="content">
                    <p class="text">{{ note.content }}</p>
                    <p class="authorship">
                      <b>{{ note.authorship }}</b>
                    </p>
                  </div>
                </div>
              </div>
              </div>
          </div>
    </div>
  </div>
      <div class="actions">
        <button (click)="editNote()" class="button">Save</button>
        <button (click)="cancel()" class="button">Cancel</button>
      </div>
    </form>
  </section>
