<div class="note">
  <div class="ff-roboto-mono" [ngClass]="noteWidth()">
    <div class="paper">
      <div class="pattern">
        <div class="content">
          <p class="text">{{ note.content }}</p>
          <p class="authorship">
            <b>{{ note.authorship }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="button-edit" routerLink="/notes/editNote/{{ note.id }}">
        <img src="/assets/img/edit.png" alt="Ícone de editar" />
      </button>
      <button
        class="button-delete"
        routerLink="/notes/deleteNote/{{ note.id }}"
      >
        <img src="../../../../assets/img/delete.png" alt="Ícone de excluir" />
      </button>
    </div>
  </div>
</div>
