.actions {
    display: flex;
    justify-content: flex-end
  }
  
  .button-delete {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .button-edit {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .note {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .note .content {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .note .authorship {
    word-wrap: break-word;
  }
  
  .model1 {
    box-shadow: 8px 8px 0px #154580;
  }
  
  .model2 {
    box-shadow: 8px 8px 0px #6BD1FF;
  }
  
  .model3 {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  .note-g {
    width: 556px;
  }
  
  .note-p {
    width: 262px;
  }
  
  @media screen and (max-width: 768px) {
    .note-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .note-p {
      width: 100%;
    }
  }